/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

:root{
    --primary-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
}

body{
    margin: 0;
    background-image: url("/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-color: var(--primary-color);
}