/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

:root{
    --primary-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
}

body{
    margin: 0;
    background-image: url("/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary-color);
    min-height: 100vh;
}

main{
    margin: 1.5625rem;
}

.logo{
    width: 42%;
}

.ilustration{
    width: 100%;
    margin: 3.4375rem 0;
}

section{
    text-align: center;
    color: white;
}

section h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

section p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

section button{
    padding: .9375rem 4.6875rem;
    background-color: white;
    border: none;
    color: var(--primary-color);
    border-radius: 3.125rem;
    margin: .9375rem;
}

section button:hover, section button:focus{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
    box-shadow: 0px 10px 20px 0px black;
}

.socials{
    display: flex;
    justify-content: center;
    padding: 0;
}

.socials li{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: .9375rem;
    height: .9375rem;
    font-size: 24px;
    padding: .625rem;
    margin: .625rem;
    border: 1px white solid;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.socials li:hover, .socials li:focus{
    color: var(--secondary-color);
    border: 1px var(--secondary-color) solid;
}

@media (min-width: 720px){
    body{
        background-image: url("/images/bg-desktop.svg");
        display: flex;
        justify-content: center;
        align-items: center;
        background-position-x: -3.125rem;
        
    }

    section{
        text-align: start;
    }

    section h1{
        font-size: 36px;
    }

    main{  
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-template-rows: 0.1fr 2fr 0.1fr;
        gap: 1.25rem 3.125rem;
        grid-auto-flow: column dense;
        grid-template-areas:
          "logo logo "
          "ilustration kontent"
          "socials socials";

          margin:  3.125rem;
      }

      .logo {
        grid-area: logo;
        justify-self: start;
        width: 13%;
        margin-bottom: 3.75rem;
      }
      .ilustration {
        grid-area: ilustration;
        justify-self: center;
        align-self: center;
        margin: 0;
      }
      .content {
        grid-area: kontent;
        padding-top: 1.5625rem;
      }
      .socials {
        grid-area: socials;
        justify-self: end;
      }
      
}